@use '../../../styles/vars';

.prismal-input-select {
    font-family: vars.$font-body;
    * {
        box-sizing: border-box;
    }
    label {
        width: fit-content;
        align-self: center;
    }
    select {
        flex: 1;
        appearance: base-select;
        border: 1px solid #dddddd;
        border-radius: var(--border-radius);
        background: transparent;
        padding: 0.5rem 1rem;
        transition: 0.4s;

        &:hover {
            border-color: var(--color-primary);
        }

        &:focus {
            background: rgba(var(--color-primary-light_), 0.25);
        }

        &::picker-icon {
            color: #999999;
            transition: 0.4s rotate;
        }
        &:open::picker-icon {
            rotate: 180deg;
        }

        option {
            display: flex;
            justify-content: flex-start;
            gap: 20px;

            border: 1px solid #dddddd;
            background: rgba(var(--color-primary-light_), 0.25);
            padding: 0.5rem 1rem;
            transition: 0.4s;

            &:first-of-type {
                border-radius: var(--border-radius) var(--border-radius) 0 0;
            }
            &:last-of-type {
                border-radius: 0 0 var(--border-radius) var(--border-radius);
            }
            &:not(option:last-of-type) {
                border-bottom: none;
            }
            &:nth-of-type(odd) {
                background: white;
            }
            &:hover, &:focus {
                background: var(--color-primary-light);
                border-color: transparent;
            }
            &:checked {
                background: var(--color-primary);
                color: white;
                // font-weight: bold;
            }
            &::checkmark {
                order: 1;
                margin-left: auto;
                content: "";
                display: block;
                left: 0;
                top: 0;
                width: 5px;
                height: 9px;
                border: 2px solid white;
                border-top: 0;
                border-left: 0;
                transform: matrix(0.731354, 0.681998, -0.681998, 0.731354, 0, 0);
            }
        }
    }
    ::picker(select) {
        appearance: base-select;
        border: none;
        opacity: 0;
        transition: all 0.4s allow-discrete;
        top: calc(anchor(bottom) + 1px);
        left: anchor(10%);
        &:popover-open {
            opacity: 1;
        }
    }
    @starting-style {
        ::picker(select):popover-open {
            opacity: 0;
        }
    }
}

// option .icon {
//     font-size: 1.6rem;
//     text-box: trim-both cap alphabetic;
// }

