@use '../../styles/vars.scss';
@use '../../styles/globals.scss';

form.prismal-form {
    font-family: vars.$font-body;
    .form-fields {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        @extend %my05;
    }
    .form-error {
        color: vars.$error-color;
        @extend %t6;
        @extend %my05;
    }
    .form-submit {
        @extend %f-right;
    }
}
