@use '../../../styles/vars';
@use '../../../styles/typography';
@use '../../../styles/layout';

.prismal-input-text {
    gap: 1rem;
    display: flex;
    &.size-s {
        @include layout.column(4);
        @include layout.column(8, lg);
        @include layout.column(12, sm);
    }
    &.size-m {
        @include layout.column(8);
        @include layout.column(12, sm);
    }
    &.size-l {
        @include layout.column(12);
    }
    .input-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-right: .5rem;
        margin-left: .5rem;
        width: 100%;
        flex-direction: column;
        gap: .5rem;
        &.inline {
            align-items: center;
            flex-direction: row;
            gap: 1rem;
        }
        .input-text-label {
            position: relative;
            font-family: vars.$font-body;
        }
        input {
            background-color: white;
            padding: 0.5rem 1rem;
            font-size: inherit;
            border: none;
            background-color: transparent;
            border-radius: var(--border-radius);
            width: 100%;
            flex: 1;
            &:focus-visible {
                outline: 0;
            }
        }
        .prismal-input {
            display: flex;
            position: relative;
            border-radius: var(--border-radius);
            &.prismal-input-default:has(> input) {
                //background-color: transparent;
                // background-color: rgba(var(--color-primary-light_), 0.25);
                border: solid thin grey;
            }
            &.prismal-input-primary:has(> input) {
                //background-color: transparent;
                background-color: rgba(var(--color-primary-light_), 0.25);
                // border: solid thin grey;
            }
            &:has(> input:focus-visible) {
                background-color: rgba(var(--color-primary-light_), 0.25);
                border-color: var(--color-primary);
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    background-color: var(--color-primary-light);
                }
            }
            &:hover {
                border-color: var(--color-primary);
            }
        }
    
        
        .input-errors {
            color: vars.$error-color;
            margin-right: .5rem;
            margin-left: .5rem;
            @include typography.f6;
        }
    }
    &.input-required {
        label::before {
            content: '•';
            color: vars.$error-color;
            position: absolute;
            left: -1rem;
            font-size: inherit;
        }
    }
}
