@use '../../styles/utils';
@use '../../styles/layout';
@use '../../styles/vars';

.prismal-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: var(--box-elevation-primary);
    grid-area: var(--card-size);
    cursor: pointer;
    height: auto;
    width: auto;
    font-family: vars.$font-body;
    border-radius: var(--border-radius);

    &:hover {
        box-shadow: var(--box-elevation-secondary);
    }

    .prismal-card-body {
        flex: 1
    }

    .prismal-card-header,
    .prismal-card-body,
    .prismal-card-footer {
        display: flex;
        flex-direction: column;
        padding: var(--box-padding);
    }

    &.prismal-card-h {
        flex-direction: row;

        .prismal-card-header {
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
        }

        .prismal-card-footer {
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }
    }

    &.prismal-card-v {
        flex-direction: column;

        .prismal-card-header {
            border-top-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);
        }

        .prismal-card-footer {
            border-bottom-left-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }
    }
}