@use '../../styles/utils';
@use '../../styles/layout';
@use '../../styles/vars';

.prismal-card {
    display: flex;
    flex-direction: column;
    overflow: clip;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    grid-area: var(--card-size);
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-family: vars.$font-body;
    border-radius: var(--border-radius);
    &:hover {
       box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
    &.card-p-xs .prismal-card-content {
        padding: 0.25rem;
    }
    &.card-p-s .prismal-card-content {
        padding: 0.5rem;
    }
    &.card-p-m .prismal-card-content {
        padding: 0.75rem;
    }
    &.card-p-l .prismal-card-content {
        padding: 1rem;
    }
}

