@use '../../styles/vars';
@use '../../styles/layers';

.prismal-header {
    position: relative;
    width: 100%;
    min-height: 3rem;

    .prismal-header-nav {
        position: relative;
        min-height: 3rem;
        width: 100%;
        font-family: vars.$font-body;
        @extend %z1;
        &.prismal-header-nav-flyout {
            @extend %z2;
            position: fixed;
            top: 0;
            left: 0;
        }
    }
}