@use '../../styles/vars';

.prismal-btn-group {
    display: flex;
    width: fit-content;
    position: relative;
    &.prismal-btn-group-row {
        flex-direction: row;

        .prismal-btn {
            border-radius: 0;
            margin-left: -.1em;
            &.btn-primary::after {
                content: '';
                position: absolute;
                right: 0;
                height: 100%;
                color: white;
                border-right: solid .1em;
            }
            &:first-child {
                border-top-left-radius: var(--border-radius);
                border-bottom-left-radius: var(--border-radius);
                margin-left: 0;
            }
            &:last-child {
                border-top-right-radius: var(--border-radius);
                border-bottom-right-radius: var(--border-radius);
                &.btn-primary::after {
                    content: '';
                    border-right: 0;
                }
            }
        }
    }

    &.prismal-btn-group-column {
        flex-direction: column;

        .prismal-btn {
            border-radius: 0;
            width: auto;
            margin-top: -.1em;
            &.btn-primary::after {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                color: white;
                border-bottom: solid .1em;
            }
            &:first-child {
                border-top-right-radius: var(--border-radius);
                border-top-left-radius: var(--border-radius);
            }

            &:last-child {
                border-bottom-right-radius: var(--border-radius);
                border-bottom-left-radius: var(--border-radius);
                &.btn-primary::after {
                    content: '';
                    border-bottom: 0;
                }
            }

        }
    }
}