@use '../../styles/vars';

.prismal-accordion {
    margin-bottom: 30px;
    font-family: vars.$font-body;
    .prismal-accordion-content {
        max-height: 0px;
        overflow: hidden;
        transition: 0.25s ease-in-out;
    }

    .prismal-accordion-title {
        border-top: #000 1px solid;
        cursor: pointer;
        display: block;
        padding: 30px 0 0 0;
        position: relative;
        margin-bottom: 0;
        transition: all 0.25s ease-out;
    }

    .prismal-accordion-title::after {
        border-style: solid;
        border-width: 1px 1px 0 0;
        content: " ";
        display: inline-block;
        float: right;
        height: 10px;
        // left: 2px;
        position: absolute;
        right: 0;
        transform: rotate(135deg);
        transition: 0.35s ease-in-out;
        vertical-align: top;
        width: 10px;
    }

    /* OPTIONAL HOVER STATE */
    .prismal-accordion-title:hover {
        color: #4E4B52;
    }

    .prismal-accordion-trigger:checked+.prismal-accordion-title+.prismal-accordion-content {
        max-height: 350px;
    }

    .prismal-accordion-trigger:checked+.prismal-accordion-title::after {
        transform: rotate(-45deg);
        transition: 0.25s ease-in-out;
    }

    input[type="checkbox"].prismal-accordion-trigger {
        display: none;
    }
}