@use '../../styles/vars';

.prismal-accordion {
    margin-bottom: 30px;
    font-family: vars.$font-body;
    .prismal-accordion-content {
        max-height: 0px;
        overflow: hidden;
        transition: 0.25s ease-in-out;
    }

    .prismal-accordion-title {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        position: relative;
    }

    .prismal-accordion-trigger:checked+.prismal-accordion-title+.prismal-accordion-content {
        max-height: inherit;
    }

    input[type="checkbox"].prismal-accordion-trigger {
        display: none;
    }
}