@use '../../styles/vars';

.prismal-actionbar {
    width: 100%;
    // display: flex;
    display: grid;
    grid-template-areas: "left-area center-area right-area";
    grid-template-columns: minmax(10px, 1fr) auto minmax(10px, 1fr);
    flex-wrap: wrap;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-family: vars.$font-body;

    &.prismal-actionbar-primary {
        background-color: vars.$primary-color;
        color: white;
    }
    &.prismal-actionbar-secondary {
        background-color: vars.$primary-color-light;
        color: vars.$primary-color-dark;
    }

    .actionbar-left,
    .actionbar-right,
    .actionbar-center {
        display: flex;
        // TODO: Change accordingly to prismal-actionbar children number
        box-sizing: border-box;
        align-items: center;
        padding: 0 0.5rem;
        gap: .5rem;
    }
    .actionbar-left {
        grid-area: left-area;
        justify-content: start;
    }

    .actionbar-center {
        grid-area: center-area;
        place-content: center;
    }

    .actionbar-right {
        grid-area: right-area;
        place-content: end;
    }
}